/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
    --jumbrotron-background: #b4d0e7;
    --button-blue: #0161ff;
    --button-white: #ffff;
    --button-jumbotron: #b4d0e7;
    --col: #d0d0d3;

    /*Sponsors Background*/
    --Img1: #a2d39b;
    --Img2: #60092b;
    --Img3: #d50020;
    --Img4: #b4d0e7;
    --Img5:  #0093ce;
    --Img6:  #ff1b1c;
    --Img7:  #0d2381;
    --Img8:  #ffd830;


    --language: #8a9195;
    --footer: #000000 ;
}


/* Generics */
body{
    font-family: 'Open Sans', sans-serif;
}

/*Utils*/
.container{
    max-width: 1600px;
    margin: 0 auto;
}

img{
    display: block;
}
.navigation-menu ul{
    list-style-type: none;
}
.navigation-menu li{
    padding: 5px;
    display: inline-block;
}
.navigation-menu a{
    color: #000000;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 5px;
}


/*Header*/
header{
    display: flex;
    flex-direction: column;
}

/*Navigation Menu*/
.navigation-menu{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    width: 100%;
    flex-basis: calc(100% / 2);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.navigation-menu .information{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.navigation-menu .about-dropbox{
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    justify-content: center;
}

.navigation-menu .support{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.navigation-menu .help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-menu .support-team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.navigation-menu .logo{
    margin-right: 10px;
}

.navigation-menu .button-white{
    background-color: var(--button-white);
    color: black;
    padding: 10px 30px;
    width: 100px;
    border: none;
    font-size: 14px;
}

.navigation-menu .button-blue{
    background-color: var(--button-blue);
    color: white;
    padding: 10px 30px;
    width: 100px;
    border: none;
    font-size: 14px;
}

/* Hover line header */

.navigation-menu .hover-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigation-menu .line{
    background-color: var(--jumbrotron-background);
    height: 2px;
    border-radius: 5px;
    width: 20px;
    position: absolute;
    bottom: 0;
    display: none;
    right: 50%;
}


ul:hover .line{
    display: inline-block;
}


/*Jumbotron*/

.jumbotron{
    background-color: var(--jumbrotron-background);
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbotron .container{
    max-width: 1400px;
    margin-top: 50px;
}

.jumbotron h1{
    font-size: 80px;
    font-weight: bold;
}
.jumbotron .row{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}

/* Jumbotron Small column */

.jumbotron .small-col{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.jumbotron p{
    text-align: justify;
    font-size: 20px;
}


.jumbotron .buttons{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.jumbotron .button-jumbotron{
    background-color: var(--button-jumbotron);
    color: black;
    padding: 10px 5px;
    width: 250px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
}

.jumbotron .button-blue{
    background-color: var(--button-blue);
    color: white;
    padding: 10px 20px;
    width: 250px;
    border: none;
    font-size: 16px;
    text-align: left;
}

.jumbotron .scroll{
    width: 200px;
    border: none;
    background-color: var(--jumbrotron-background);
    text-align: left;
    padding: 20px 0px;
    font-size: 25px;
}


/* Jumbotron Med column */

.jumbotron .med-col{
    width: 900px;
    position: relative;
}
.jumbotron img{
    max-width: 900px;
    display: block;
    position: absolute;
}

/*Main*/
main .container{
    max-width: 1400px;
    margin-top: 150px;
}

main h2{
    font-size: 40px;
    padding: 10px;
    margin-bottom: 60px;
}


/*Radio*/

main .type-billing{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 50px;
}
main .type{
    display: flex;
    padding: 50 0px;
    width: 200px;
}


/*Hover Radio*/
main .radio{
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border: 2px solid grey;
}
.radio:hover{
    border: 5px solid  blue;
}



/*Section subscription*/

/*Main col*/
main .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

main .subscription .col{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% /3 - 20px);
    width: 400px;
    border: solid 2px var(--col);
}

/*Small row*/

main .small-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid var(--col);
}
main .small-row span{
    margin-left: 10px;
}

/*Big row*/

main .big-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

main .price{
    margin-bottom: 30px;
}

main .big-row h4{
    font-size: 30px;
}
main .big-row .price h6{
    font-size: 18px;
    padding: 10px 0px;
}

main .big-row .benefits{
    font-size: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .big-row .benefits-row span{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
}

main .big-row .benefits i{
    margin-right: 10px;
    font-size: 20px;
}

main .big-row .button-blue{
    background-color: var(--button-blue);
    color: white;
    padding: 10px 20px;
    width: 350px;
    border: none;
    font-size: 16px;
    margin-top: 50px;
}

main .big-row .button-try{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


main .big-row a{
    margin-left: 5px;
}
main .big-row .line{
    background-color: var(--col);
    width: 100px;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Big Row benefits effect*/

main .big-row .benefits-effect{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 20px 0;
    justify-content: center;
}

main .big-row .benefits-effect i{
    color: var(--button-blue);
}

main .big-row .benefits-effect h5{
    font-size: 20px;
}

main .big-row .container{
    margin-top: 0;
}
main .big-row .content{
    display: flex;
    flex-direction: column;
    width: 85%;
}

/*Big col*/

main .second-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

main .second-row .big-col{
    display: flex;
    width: 1400px;
    flex-direction: column;
    border: solid 2px var(--col);
}

main .enterprise-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
main .enterprise-team .button-blue{
    margin-top: 0;
    width: 300px;
}

main .big-row p{
    padding: 30px 0;
}

/*Section partner*/
main .partner{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

main .partner .third-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc(100% / 2);
}

/*Med col*/
main .partner .med-col{
    width: 900px;
    display: flex;
    flex-direction: column;
}

/*Small col*/
main .partner .small-col{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    width: 400px;
}
main .partner h4{
    font-size: 30px;
    padding: 20px 0;
}
main .partner p{
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
    line-height: 25px;
}
main .button-white{
    background-color: var(--button-white);
    color: black;
    padding: 20px 0px;
    width: 200px;
    border: 2px solid black;
    font-size: 18px;
}

/* Section Subscription Vantages*/

main .fourth-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.title{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    padding: 40px 0;
}

.subscription-vantages .col{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% /3 - 20px);
    width: 400px;
}

.fourth-row p{
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
    line-height: 25px;
}
.fourth-row .big-row{
    padding: 20px 0;
    line-height: 30px;
}
/* Section Subscription Vantages Big col*/

.subscription-vantages .big-col .big-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    font-size: 20px;
    width: 800px;
    margin-bottom: 200px;
}
.subscription-vantages .big-col .big-row h3{
    font-size: 50px;
    padding: 20px 0px;
}



/*Section Sponsors*/

.sponsors .row-sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}


.sponsors .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.sponsors .dedication-col{
    display: flex;
    flex-direction: column;
    width: 1400px;
    padding: 0px 40px;
    font-size: 18px;
    line-height: 25px;
    position: relative;
}

.sponsors h6{
    margin-top: 40px;
    font-size: 18px;
}

/*Img sponsor*/

.img-sponsor{
    position: absolute;
    bottom: 70%;
    right: 63%;
}


/*Sponsors img / line / p*/
.sponsors img{
    height: 250px;
    width: 300px;
    padding: 100px 80px;
}

.sponsors .line{
    background-color: var(--col);
    width: 100px;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Sponsors img*/

.img-1{
    background-color: var(--Img1);
}
.img-2{
    background-color: var(--Img2);
}
.img-3{
    background-color: var(--Img3);
}
.img-4{
    background-color: var(--Img4);
}
.img-5{
    background-color: var(--Img5);
}
.img-6{
    background-color: var(--Img6);
}
.img-7{
    background-color: var(--Img7);
}
.img-8{
    background-color: var(--Img8);
}



/*Section Try and Q-A*/

.try{
    background-color: var(--jumbrotron-background);
    width: 100%;
    padding: 150px 0;
    font-size: 30px;
}

.try .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
}

.try .med-col{
    color: var(--Img2);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0 10px;
    margin-right: 550px;
}

.try .small-col{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.try .button-white{
    border: none;
    width: 300px;
}


/*Footer*/